name: 'Deploy AWS Lambda'

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  build_and_push:
    name: 'Build and push container image to ECR'
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
      LAMBDA_FUNCTION_NAME: ${{ secrets.LAMBDA_FUNCTION_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (static keys)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ECR Registry
        run: |
            aws ecr get-login-password --region ${{ env.AWS_REGION }} \
              | docker login \
                  --username AWS \
                  --password-stdin \
                  "$(echo ${{ env.ECR_REPOSITORY }} | cut -d '/' -f 1)"

      - name: Build Dockerfile
        working-directory: ./pySrc
        run: |
            docker buildx build --platform linux/amd64 \
            --provenance=false \
            -t lambda-thumbnail-generator .

      - name: Tag Docker Container
        working-directory: ./pySrc
        run: |

            docker tag lambda-thumbnail-generator:latest "${{ env.ECR_REPOSITORY }}:latest"

      - name: Push Docker Container to ECR
        working-directory: ./pySrc
        if: github.event_name == 'push'
        run: | 
            docker push "${{ env.ECR_REPOSITORY }}:latest"
  
      - name: Update Lambda to latest image from ECR
        if: github.event_name == 'push'
        run: |
  
            aws lambda update-function-code \
              --function-name ${{ env.LAMBDA_FUNCTION_NAME }} \
              --image-uri "${{ env.ECR_REPOSITORY }}:latest"
