name: 'Deploy AWS Lambda'

on:
  push:
    branches: [ "main" ]
    paths:
      - 'pySrc/**'  # only run when code under pySrc changes
      - '.github/workflows/deploy.yml' # run when workflow file changes

  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  build_and_push:
    name: 'Build and push container image to ECR'
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (static keys)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build & Push Docker Container to ECR
        working-directory: ./scripts
        if: github.event_name == 'push'
        run: > 
            ./pushImage.sh 
            "${{ vars.ECR_REPOSITORY }}" 
            "${{ vars.AWS_REGION }}"
        
      - name: Update Lambda to latest image from ECR
        if: github.event_name == 'push'
        run: |
            aws lambda update-function-code \
              --function-name ${{ vars.LAMBDA_FUNCTION_NAME }} \
              --image-uri "${{ vars.ECR_REPOSITORY }}:latest"
